body {
  font-family: 'Roboto', sans-serif;
  background-color: #FF5C5C;
}

.header {
  margin: 10% 20%;
  text-align: center;
  color: white;/*#333;*/
}

.icon {
  width: 20%;
  margin: 0px;
  padding: 0px;
  filter: invert(100%);
  -webkit-filter: brightness(0) invert(1);
}